@model association.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier</h2>

<h4>Citoyen</h4>
<hr />
<div class="row">
    <div class="form-horizontal">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientID" />
            <div class="form-group">
                <label asp-for="Nom" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Nom" class="form-control" />
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Prenom" class="form-control" />
                    <span asp-validation-for="Prenom" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NomAr" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NomAr" class="form-control" />
                    <span asp-validation-for="NomAr" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PrenomAr" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PrenomAr" class="form-control" />
                    <span asp-validation-for="PrenomAr" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CIN" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CIN" class="form-control" />
                    <span asp-validation-for="CIN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Adresse" class="form-control" />
                    <span asp-validation-for="Adresse" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AssociationID" class="col-md-2 control-label">Association</label>
                <div class="col-md-10">
                    <select asp-for="AssociationID" class="form-control" asp-items="ViewBag.Association"></select>
                    <span asp-validation-for="AssociationID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DouarID" class="col-md-2 control-label">Douar</label>
                <div class="col-md-10">
                    <select asp-for="DouarID" class="form-control" asp-items="ViewBag.Douar"></select>
                    <span asp-validation-for="DouarID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enregistrer" class="btn btn-default" />

                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
