@model association.Models.FacturesGeneree

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Créer</h2>

<h4>Factures Generee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFactures" class="control-label"></label>
                <input asp-for="DateFactures" class="form-control" type="date" />
                <span asp-validation-for="DateFactures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateGeneration" class="control-label"></label>
                <input asp-for="DateGeneration" class="form-control" type="date" />
              
                <span asp-validation-for="DateGeneration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactureDe" class="control-label"></label>
                <input asp-for="FactureDe" class="form-control" type="month"  />
                <span asp-validation-for="FactureDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociationID" class="control-label">Association</label>
                <select asp-for="AssociationID" class="form-control" asp-items="ViewBag.Association"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>
<script>
    //$(document).ready(function () {
    //    document.getElementById('DateGeneration').value = new Date();

    //});
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
