@model association.Models.CompteurEau

@{
    ViewData["Title"] = "Modifier";
}

<h2>Modifier</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Compteur</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CompteurEauID" />

        <div class="form-group">
            <label asp-for="Numero" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Emplacement" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Emplacement" class="form-control" />
                <span asp-validation-for="Emplacement" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateDebut" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateDebut" class="form-control" type="date"/>
                <span asp-validation-for="DateDebut" class="text-danger"  />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateFin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateFin" class="form-control" type="date" />
                <span asp-validation-for="DateFin" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Actif" />
                    <label asp-for="Actif"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientID" class="control-label col-md-2">Citoyen</label>
            <div class="col-md-10">
                <select asp-for="ClientID" class="form-control" asp-items="ViewBag.Client"></select>
                <span asp-validation-for="ClientID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retour &agrave la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
